<!DOCTYPE html>
<html lang="fr">

<div class="confiance">
    <h2>Ils me font confiance</h2>
    <div class="logo-defil">
        <div class="logo-track">
            
            <img src="./assets/medias/clients/Airbus.png" alt="Logo Airbus">
            <img src="assets/medias/clients/CortecMOE.jpg" alt="Logo Cortec MOE">
            <img src="assets/medias/clients/ETRB.jpg" alt="Logo ETRB">
            <img src="assets/medias/clients/GBMP.png" alt="Logo GBMP">
            <img src="assets/medias/clients/Kaufman.png" alt="Logo Kaufman">
            <img src="assets/medias/clients/Mecaprotect.png" alt="Logo Mecaprotec">
            <img src="assets/medias/clients/GreenCity.png" alt="Logo GreenCity">
            <img src="assets/medias/clients/VivrAlliance.png" alt="Logo Vivr'Alliance">
            <img src="assets/medias/clients/Eclisse.png" alt="Logo Eclisse Promotion">
            <img src="assets/medias/clients/Carbiolice.jpg" alt="Logo Carbiolice">
            <img src="assets/medias/clients/MIGSO.png" alt="Logo MIGSO">
            <img src="assets/medias/clients/SielBleu.png" alt="Logo Siel Bleu">
            <img src="assets/medias/clients/Sanofi.png" alt="Logo Sanofi">
            <img src="assets/medias/clients/Safran.png" alt="Logo Safran">
            <img src="assets/medias/clients/Hutchinson.png" alt="Logo Hutchinson">
            <img src="assets/medias/clients/Limagrain.png" alt="Logo Limagrain">
            <img src="assets/medias/clients/AuraSante.png" alt="Logo Aura Santé">
            <img src="assets/medias/clients/Vistory.png" alt="Logo Vistory">
            <img src="assets/medias/clients/GETELEC.jpg" alt="Logo GETELEC">

            <!--Duplication pour boucle fluide-->
            <img src="assets/medias/clients/Airbus.png" alt="Logo Airbus">
            <img src="assets/medias/clients/CortecMOE.jpg" alt="Logo Cortec MOE">
            <img src="assets/medias/clients/ETRB.jpg" alt="Logo ETRB">
            <img src="assets/medias/clients/GBMP.png" alt="Logo GBMP">
            <img src="assets/medias/clients/Kaufman.png" alt="Logo Kaufman">
            <img src="assets/medias/clients/Mecaprotect.png" alt="Logo Mecaprotec">
            <img src="assets/medias/clients/GreenCity.png" alt="Logo GreenCity">
            <img src="assets/medias/clients/VivrAlliance.png" alt="Logo Vivr'Alliance">
            <img src="assets/medias/clients/Eclisse.png" alt="Logo Eclisse Promotion">
            <img src="assets/medias/clients/Carbiolice.jpg" alt="Logo Carbiolice">
            <img src="assets/medias/clients/MIGSO.png" alt="Logo MIGSO">
            <img src="assets/medias/clients/SielBleu.png" alt="Logo Siel Bleu">
            <img src="assets/medias/clients/Sanofi.png" alt="Logo Sanofi">
            <img src="assets/medias/clients/Safran.png" alt="Logo Safran">
            <img src="assets/medias/clients/Hutchinson.png" alt="Logo Hutchinson">
            <img src="assets/medias/clients/Limagrain.png" alt="Logo Limagrain">
            <img src="assets/medias/clients/AuraSante.png" alt="Logo Aura Santé">
            <img src="assets/medias/clients/Vistory.png" alt="Logo Vistory">
            <img src="assets/medias/clients/GETELEC.jpg" alt="Logo GETELEC">

        </div>
    </div>
</div>

</html>