<!-- cookies-banner.html 
BANNIERE VALIDATION DES COOKIES 
Crée par Jean-Baptiste TISSOT -->

<div id="cookie-banner" class="cookie-banner">
    <p>
        Ce site utilise des cookies afin d'améliorer votre expérience sur notre site.
        Vous pouvez accepter ou refuser leur utilisation.
        <a href="confidentialite.html" target="_blank">En savoir plus</a>
    </p>
    <div class="cookie-buttons">
        <button id="acceptCookies" class="btn-accept">Accepter</button>
        <button id="rejectCookies" class="btn-reject">Refuser</button>
    </div>
</div>