<!DOCTYPE html>
<html lang="fr">

<footer>
    <div class="info-contact">
        <div class="info">
            <img src="assets/medias/icones/Adresse.png" alt="icone Adresse">
            <div class="zone-info">
                <h4>Adresse</h4>
                <p>37 rue du Mistral, 31470 FONSORBES</p>
            </div>
        </div>
        <div class="info">
            <img src="assets/medias/icones/Telephone.png" alt="icone Téléphone">
            <div class="zone-info">
                <h4>Téléphone</h4>
                <p>06 59 41 38 79</p>
            </div>
        </div>
        <div class="info">
            <img src="assets/medias/icones/Mail.ico" alt="icone Mail">
            <div class="zone-info">
                <h4>E-mail</h4>
                <p>tissot.tme@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <div class="logo">
            <a href="index.html"><img src="assets/medias/logo/Logo Negatif.png" alt="Logo TME"></a>
        </div>
        <div class="nav-links">
            <h4>Navigation</h4>
            <ul>
                <a href="index.html"><li>Accueil</li></a>
                <a href="about.html"><li>Présentation</li></a>
                <a href="services.html"><li>Services</li></a>
                <a href="portfolio.html"><li>Références</li></a>
                <a href="presentation.html"><li>Le créateur</li></a>
                <a href="contact.html"><li>Me contacter</li></a>
            </ul>
        </div>
        <div class="reseaux">
            <h4>Me trouver</h4>
            <ul>
                <a href="https://www.linkedin.com/company/tme-tissot-m%C3%A9tr%C3%A9s-economie/" target="_blank">
                    <img src="assets/medias/icones/LinkedIn.ico" alt="icone LinkedIn">
                    <p>LinkedIn Professionnel</p>
                </a>
                <a href="https://www.linkedin.com/in/jeanbaptistetissot/" target="_blank">
                    <img src="assets/medias/icones/LinkedIn.ico" alt="icone LinkedIn">
                    <p>LinkedIn Personnel</p>
                </a>
                <a href="contact.html">
                    <img src="assets/medias/icones/Mail.ico" alt="icone Mail">
                    <p>Me contacter par mail</p>
                </a>
            </ul>
        </div>
        <div class="infos-diverses">
            <h4>Informations diverses</h4>
            <ul>
                <a href="conditions-vente.html"><li>Conditions Générales de Ventes (CGV)</li></a>
                <a href="confidentialite.html"><li>Politique de confidentialité</li></a>
                <a href="plan-du-site.html"><li>Plan du site</li></a>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>© Site crée par Jean-Baptiste TISSOT -- 2025 -- Tout droits réservés -- 
            <a href="mentions-legales.html" class="mentions-legales">Mentions légales</a>
        </p>
    </div>
</footer>

</html>