<!DOCTYPE html>
<html lang="fr">

<header>
    <!-- Barre de progression de lecture -->
    <div id="scroll-progress"></div>

    <div class="header-container">
        <!-- LOGO -->
        <div class="logo">
            <a href="index.html" title="Retour à l'accueil">
                <img src="./assets/medias/logo/Logo Negatif.png" alt="Logo TME">
            </a>
        </div>

        <!-- Navigation principale -->
        <nav class="navigation">
            <div class="burger" id="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul id="nav-links">
                <a href="./index.html"><li>Accueil</li></a>
                <a href="about.html"><li>Présentation</li></a>
                <a href="services.html"><li>Services</li></a>
                <a href="portfolio.html"><li>Références</li></a>
                <a href="presentation.html"><li>Fondateur</li></a>
                <a href="contact.html"><li>Contact</li></a>
            </ul>
        </nav>

        <!-- Bouton d'action -->
        <a href="contact.html" class="btn-devis">
            <div class="cta-header">
                Obtenir un devis
            </div>
        </a>
    </div>

</header>

</html>