<!-- loader.html -->

<div id="loader">
    <div class="loader-overlay">
        <div class="loader-content">
            <div class="logo-wrapper">
                <img 
                src="../assets/medias/logo/Logo Negatif.png" 
                alt="Logo TME - Tissot Métrés & Economie" 
                class="loader-logo"
                />
            </div>
            
            <div class="loader-bar">
                <span class="loader-progress"></span>
            </div>

            <p class="loader-text">Chargement de votre espace TME...</p>
        </div>
    </div>
</div>