/*
Liste des couleurs de la charte graphique
Primaire : #2E4A66          - Titres et éléments forts / Liens et boutons primaires
Secondaire : #97C1E1        - Détails décoratifs (icones, séparateurs, cartes, survols doux)
Tertiaire : #2E2E2E         - Texte principal
Complémentaire 1 : #5C7340  - Bouton secondaire, avec texte blanc
Complémentaire 2 : #C2D5BE  - Fond principaux (section alternée)
Blanc : #F5F5F5             - Fond principaux (section alternée)
Accent chaud : #D9A441      - Survol des liens et boutons primaires
*/

#scrollTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: linear-gradient(135deg, #2E4A66, #97C1E1);
    color: #F5F5F5;
    border: none;
    border-radius:50% ;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#scrollTopBtn img {
    filter:invert(1) ;
}

#scrollTopBtn:hover {
    transform: translateY(-4px) scale(1.05);
    background: linear-gradient(135deg, #97C1E1, #2E4A66);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

/* Quand visible */
#scrollTopBtn.show {
    opacity: 1;
    pointer-events: auto;
}

@media (max-width:768px) {
    #scrollTopBtn {
        bottom: 20px;
        right: 20px;
        width: 45px;
        height: 45px;
        font-size: 1.2rem;
    }
}